
    <li class="sidebar-title">Site Administration</li>

    <li class="sidebar-list">
        <a href="@Url.Action("Settings", "Admin")">Site Settings <span class="menu-icon glyphicon glyphicon-list"></span></a>
        <a href="@Url.Action("Index", "Organization")">Organizations <span class="menu-icon glyphicon glyphicon-tower"></span></a>
        <a href="@Url.Action("Index", "User")">Users <span class="menu-icon glyphicon glyphicon-user"></span></a>
        <a href="@Url.Action("SystemStatus", "Admin")">System Status <span class="menu-icon glyphicon glyphicon-stats"></span></a>
        <a href="@Url.Action("Locked", "CatalogRecord")">Locked Records <span class="menu-icon glyphicon glyphicon-lock"></span></a>
        <a href="@Url.Action("Operations", "Admin")">Operations <span class="menu-icon glyphicon glyphicon-cog"></span></a>
        <a href="@Url.Action("Import", "Admin")">Import <span class="menu-icon glyphicon glyphicon-import"></span></a>
        <a href="@Url.Action("Errors", "Admin")">Error Log <span class="menu-icon glyphicon glyphicon-warning-sign"></span></a>
    </li>

