@model Colectica.Curation.Web.Models.CreateOrganizationViewModel

@{
    ViewBag.Title = "Create an Organization";
    
    if (!User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.OrganizationName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.OrganizationName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrganizationName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HostName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.HostName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HostName)
            </div>
        </div>

        <div class="col-sm-12">
            <input type="submit" value="Create" class="btn btn-success btn-lg btn-block btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
