@model Colectica.Curation.Addins.Editors.Models.CheckForMissingLabelsViewModel

@{
    ViewBag.Title = "Check for Missing Labels";
}

@section scripts {
    @Html.Partial("~/Areas/Ddi/Views/Shared/_TaskPageVariableScripts.cshtml")
}

@section sidebar
{
    @Html.Partial("~/Areas/Ddi/Views/Shared/_TaskPageNavigation.cshtml")
}


@section breadcrumb
{
    <a href="@Url.Action("Files", "CatalogRecord", new { id = Model.CatalogRecordId })">&laquo; @Model.CatalogRecordTitle</a>

    @FormHelpers.CatalogRecordStatusLabel(Model.File.CatalogRecord)
    @if (Model.IsUserCurator)
    {
        <span class="label label-info">Curator</span>
    }
}

@* Instructions *@
<div class="alert alert-info">
    <p>@Model.Task.Instructions</p>
    <p>When finished, <a href="#" data-toggle="modal" data-target="#approve-modal">approve or reject</a> the task.</p>
</div>

<div class="row missingLabelsVariableEditorWrapper">

    @Html.Partial("~/Areas/Ddi/Views/Shared/_VariableEditor.cshtml")

</div>

<div class="clearfix"></div>

@section bottom
{
    @Html.Partial("~/Areas/Ddi/Views/Shared/_TaskPageActions.cshtml")
}
