@model LoginViewModel

@using Colectica.Curation.Web.Models

@{
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2>Log in</h2>
                <hr />

                if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
                {
                    <img src="@Model.ImageUrl" alt="@Model.OrganizationName logo" style="margin-bottom: 20px;" />
                }

                if (!string.IsNullOrWhiteSpace(Model.LoginPageText))
                {
                    <p>@Html.Raw(Model.LoginPageText)</p>
                }

                <p>Log in to the @Model.OrganizationName Data Curation Tool with your username and password.</p>

                if (Model.CanRegisterForOrganization)
                {
                    <p>
                        Don't have a @Model.OrganizationName Data Curation Tool account?
                        <br />
                        @Html.ActionLink("Create an account", "Register", "Account")<text>.</text>
                    </p>
                }


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-primary btn-lg btn-block" />
                    </div>
                </div>

                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>
            }
        </section>
    </div>
    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}